@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
}

.App-footer {
  display: flex;
  position: fixed;
  font-weight: bolder;
  bottom: 0;
}

.Question-panel {
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  margin-top: 20px;
}

.Ansawer-panel {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  margin-top: 20px;
  border-radius: 10px;
}

.Ansawer {
  background-color: #461220;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  width: 150px;
  
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 15px;

  font-family: 'Anton', sans-serif;
  font-size: 64px;
  color: #fff;

  text-decoration: none;
}

.Question {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #fff;
}

.Button-start {
  width: 100px;
  margin: 15px;
}
